@import url(http://fonts.googleapis.com/css?family=Questrial|Dosis:200,300,400,500,600,700,800|Fredoka+One|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Slabo+27px|Roboto+Condensed:300italic,400italic,700italic,400,300,700|Nunito:400,300,700|Courgette|Righteous);
/*
*
* Name: Jelly
* Author: Erick Ramirez-Guerrero
* URL: http://www.twitter.com/Boltaway
*
*/
/* Fonts */
/* Global */
body {
  box-sizing: border-box;
  font-family: "Roboto";
  margin: 0;
  overflow-x: hidden;
}

a {
  border-bottom: 1px solid #28d4b3;
  color: #28d4b3;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid #20a98f;
  color: #20a98f;
}

/* Banner */
header[role="banner"] {
  background: red;
  background: linear-gradient(to right, #28d4b3, #f06cd7);
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  width: 100%;
}
header[role="banner"]::before {
  background-attachment: fixed;
  background-color: white;
  background-image: url("i/jellyfish.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 75%;
  border-radius: 50%;
  content: '';
  display: block;
  margin: 1rem;
  height: calc(100vh - 2rem);
  height: 50vw;
  left: 0;
  left: 25%;
  position: absolute;
  top: 0;
  transform: rotateZ(4deg) scale(0.9);
  width: calc(100% - 2rem);
  width: 50vw;
  z-index: 1;
}

h1 {
  background: linear-gradient(transparent, rgba(24, 28, 123, 0.92)), linear-gradient(to right, #28d4b3, #f06cd7);
  background-attachment: fixed;
  background-position: top left, center -100%;
  font-family: "Roboto Condensed";
  font-size: 10rem;
  margin: auto;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

h2 {
  background: white;
  color: #8ca0c5;
  font-family: "Roboto Condensed";
  font-size: 1.75rem;
  font-style: italic;
  font-weight: 100;
  left: 37.5vw;
  padding: .3rem;
  position: absolute;
  text-align: center;
  top: 33%;
  width: 25vw;
  z-index: 1;
}

.summary {
  border: 1px solid #28d4b3;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 0 0.5rem rgba(40, 212, 179, 0.5);
  background: white;
  margin: 0 auto;
  margin-top: -1rem;
  padding: 1rem;
  position: relative;
  width: 60%;
  z-index: 5;
}
.summary p {
  text-align: center;
}
.summary p:nth-of-type(1) {
  font-family: "Roboto Condensed";
  font-size: 1.5rem;
  font-style: italic;
}
.summary p:nth-of-type(2) a {
  border: 1px solid #28d4b3;
  border-radius: 4px;
  padding: .25rem;
}
.summary p:nth-of-type(2) a:hover {
  background: #28d4b3;
  color: white;
}

.preamble {
  left: 40%;
  padding: 1rem;
  position: relative;
  width: 50%;
}
.preamble h3 {
  font-family: "Roboto Condensed";
  font-size: 2.5rem;
}
.preamble p {
  font-size: 1.25rem;
}

.main {
  margin: 0 auto;
  max-width: 60rem;
}

footer {
  background: white;
  opacity: 0.8;
  padding: .5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 3;
}
footer:hover {
  opacity: 1;
}
footer a {
  color: #1d5ba3;
  text-decoration: none;
}
footer a:hover {
  color: #154378;
}
