/*
*
* Name: Jelly
* Author: Erick Ramirez-Guerrero
* URL: http://www.twitter.com/Boltaway
*
*/

$blue: #28d4b3;
$pink: #f06cd7;
$d-blue: rgb(29, 91, 163);
$bp-gradient: linear-gradient(to right, $blue, $pink);

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Questrial|Dosis:200,300,400,500,600,700,800|Fredoka+One|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Slabo+27px|Roboto+Condensed:300italic,400italic,700italic,400,300,700|Nunito:400,300,700|Courgette|Righteous);

/* Global */
body {
  box-sizing: border-box;
  font-family: "Roboto";
  margin: 0;
}

a {
  border-bottom: 1px solid $blue;
  color: $blue;
  text-decoration: none;
  &:hover {
    border-bottom: 1px solid darken($blue, 10%);
    color: darken($blue, 10%);
  }
}

/* Banner */
header[role="banner"] {
  background: red;
  background: $bp-gradient;
  display: flex;
  flex-direction: column;
  
  height: 100vh;
  position: relative;
  width: 100%;
  &::before {
    background-attachment: fixed;
    background-color: white;
    background-image: url('i/jellyfish.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 75%;
    
    content: '';
    display: block;
    margin: 1rem;
    height: calc(100vh - 2rem);
    left: 0;
    position: absolute;
    top: 0;
    width: calc(100% - 2rem);
    z-index: 1;
  }
}

h1 {
  
  
  background: linear-gradient(transparent, rgba(24, 28, 123, 0.92)), linear-gradient(to right, #28d4b3, #f06cd7);
  background-attachment: fixed;
  background-position: top left, center -100%;
  font-family: "Roboto Condensed";
  font-size: 10rem;
  margin: auto;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  
  z-index: 2;
  
  -webkit-text-fill-color: transparent;

  -webkit-background-clip: text;
}

h2 {
  background: $bp-gradient;
  color: white;
  font-size: 3rem;
  //margin: 1rem;
  padding: 1rem;
  position: absolute;
  text-indent: 1em;
  top: 107%;
  width: 100%;
}

.preamble {
  color: white;
  background: $bp-gradient;
  margin-top: 6rem;
  padding: 2rem 5rem;
  h3 {
    font-style: italic;
  }
  p {
    
  }
}



.summary {
  p:nth-of-type(1) {
    background: white;
    left: 25%;
    position: absolute;
    text-align: center;
    top: 60%;
    width: 50%;
    z-index: 3;
    &::before {
      content: 'definition: (n) ';
      font-style: italic;
    }
  }
  p:nth-of-type(2) {
    font-size: 1.25rem;
    padding: 1rem;
    text-align: center;
    text-transform: lowercase;
  }
}











footer {
  opacity: 0.8;
  padding: .5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 3;
  &:hover {
    opacity: 1;
  }
  a {
    color: $d-blue;
    text-decoration: none;
    &:hover {
      color: darken($d-blue, 10%);
    }
  }
}
